@{
    Layout = "~/Views/Shared/_public1.cshtml";
    ViewBag.Title = "Talent Connect";
}
<h2>Welcome to TalentConnect</h2>
<p>
TalentConnect is Talent and Placement agency located in Mississauga and we cover all of Greater Toronto Area.
We pride ourselves in understanding your exact needs and connecting you with the right talent.
We believe in the total satisfaction of our clients in operation / production at a very competitive rate whilst fulfilling all government statutory requirements.
We serve general help, semi skilled and skilled manpower in various fields i.e. packaging, food processing, warehousing, machine operating, fork lifting, welding and various others. 
</p>